:root {
  --gray: #6b6b6b;
  --gray-100: #f9f9f9;
  --gray-200: #dcdcdc;
  --gray-300: #929292;
  --gray-400: #495057;
  --gray-500: #2b374a;
  --gray-600: #232d3e;
  --black: #000;
  --white: #fff;
  --pink: #fe3386;
  --red: #ff0039;
  --orange: #fd6300;
  --blue: #106ff4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: var(--white);
}
